body {
    background-color: #2e2e2e;
    color: #ffffff; /* Ensure text is readable */
    margin: 60px auto;
    width: 70%;
    /* font-family: Arial, sans-serif; */
    font-family: 'CMU Serif', sans-serif;
}
nav ul, footer ul {
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    font-family: 'CMU Serif', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #009414;
}
a:hover {
    text-decoration: underline;
}
h3 {
    font-size: 1.25em;
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    font-family: 'CMU Serif', sans-serif;
}
p {
    /* font-size: 1.5em;
    line-height: 1.4em; */
    color: #ffffff;
}
footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
